body {
	padding: 30px;
	margin: 30px auto;

	background: linear-gradient(to top, #30cfd0 0%, #330867 100%) fixed;
}

.App {
	text-align: center;
	font-family: arial;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.menu {
	width: 500px;
	height: 500px;
	border-radius: 10px;
	background-color: #30cfd0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.menu input,
button {
	width: 300px;
	height: 50px;
	margin: 5px;
	border: none;
	border-radius: 5px;
	font-size: 20px;
}

button:hover {
	cursor: pointer;
}

.quiz {
	width: 500px;
	height: 500px;
	border-radius: 10px;
	background-color: lightseagreen;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.EndScreen {
	width: 500px;
	height: 500px;
	border-radius: 10px;
	background-color: lightseagreen;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#nextQuestion {
	width: 200px;
}
.menu,
.quiz,
.finish,
h1 {
	color: white;
}

h3 {
	color: #ffffff;
}
